.match-list {
  width: 20%;
  height: 65vh;
  float: left;
  padding: 10px 30px;
  border-top: solid 1px #efefef;
  border-left: solid 1px #efefef;

  .match-name {
    border-bottom: solid 2px black;
    margin-bottom: 10px;
    padding: 0 5px;

    button {
      float: right;
      font-size: 1em;
      background: white;
      border: none;
    }

    button:hover {
      box-shadow: 0 0 5px 1px #efefef;
    }

    label {
      font-size: 1em;
      font-weight: 500;
    }
  }
}
