<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>53</integer>
	<key>LibraryBuildTag</key>
	<string>20F05E03-923D-40C9-BA2A-6A599E94A07C</string>
	<key>LibrarySchemaVersion</key>
	<integer>3301</integer>
</dict>
</plist>
