<div class="face-container">

    <div class="top-box">
        <div class="contents-box" id="left-box">
            <jhi-list></jhi-list>
        </div>

        <div class="contents-box" id="center-box">
            <jhi-live></jhi-live>
        </div>

        <div class="contents-box" id="right-box">
            <jhi-match></jhi-match>
        </div>
    </div>

    <div class="bottom-box">
        <div class="contents-box" id="bottom-left">
            <jhi-detect></jhi-detect>
        </div>

        <div class="contents-box" id="bottom-right">
            <jhi-picture></jhi-picture>
        </div>
    </div>

    <jhi-lnb></jhi-lnb>
</div>
