<div class="detect-list">

    <div class="detect-name">
        <label>Live Detected Face</label>
    </div>

    <div class="detect-menu">
        <label id="all"><input type="checkbox" [(ngModel)]="allCheckbox" (change)="checkAll()"/>{{ all }}</label>
        <label><input type="checkbox" [(ngModel)]="member1Checkbox" (change)="checkState(member1, member1Checkbox)"/>{{ member1 }}</label>
        <label><input type="checkbox" [(ngModel)]="member2Checkbox" (change)="checkState(member2, member2Checkbox)"/>{{ member2 }}</label>
        <label><input type="checkbox" [(ngModel)]="whiteCheckbox" (change)="checkState(whiteList, whiteCheckbox)"/>{{ whiteList }}</label>
        <label><input type="checkbox" [(ngModel)]="blackCheckbox" (change)="checkState(blackList, blackCheckbox)"/>{{ blackList }}</label>
        <label><input type="checkbox" [(ngModel)]="unknownCheckbox" (change)="checkState(unKnown, unknownCheckbox)"/>{{ unKnown }}</label>
    </div>

</div>

<jhi-detect-capture></jhi-detect-capture>
