<div class="live-section">
    <div class="name-section">

        <div class="name-text">
            <label>{{ sectionTitle }}</label>
        </div>

        <div class="button-section">
            <div class="camera-button">
                <button (click)="toggleSection()">{{ cameraText }}</button>
            </div>
            <div class="door-button">
                <button (click)="toggleDoor()">{{ doorText }}</button>
            </div>
            <div class="change-button">
                <button (click)="toggleState()">{{ sectionState }}</button>
            </div>
        </div>
    </div>

    <div class="camera-section">
        <div class="live-section" *ngIf="liveSection && cameraState">
            <img class="NO-CACHE" border="1" [src]="1"/>
        </div>

        <dts-select-container #container="dts-select-container" (itemSelected)="dtsSelected($event)"
        class="image-section" *ngIf="liveSection && imageSection && !emptyImage">
            <div class="one-face-card" *ngIf="isSelectImage" (click)="cardClick(selectImage)">
                <fa-icon *ngIf="selectImage.isActive" icon="check-square"></fa-icon>
                <img [src]="selectImage.getPath" alt="select-image" [ngClass]="{'active': selectImage.isActive}"/>
            </div>
            <div [dtsSelectItem]="face" class="face-card" *ngFor="let face of faceList">
                <fa-icon *ngIf="face.isActive" icon="check-square"></fa-icon>
                <img [src]='face.getPath' alt="face-image" [ngClass]="{'active': face.isActive}"/>
            </div>
        </dts-select-container>

        <div class="empty-section" *ngIf="liveSection && imageSection && emptyImage">
            <p>{{ imagePath }} 폴더에 이미지가 존재하지 않습니다.</p>
        </div>
    </div>
</div>
