<div class="name-section">

    <div class="name-text">
        <label>Live On</label>
    </div>

    <div class="button-section">
        <div class="camera-button">
                <button (click)="toggleCamera()">{{ cameraText }}</button>
        </div>
        <div class="door-button">
            <button (click)="toggleDoor()">{{ doorText }}</button>
        </div>
    </div>
</div>

<div class="camera-section">


    <img class="NO-CACHE" border="1"
             [src]="" *ngIf="cameraState">

</div>
