<div class='member-list'>
    <div class='member-name'>
        <label>Members</label>
        <button *ngIf="!del_checkbox" id="add_button" (click)="openAddModal()"><fa-icon icon="folder-plus"></fa-icon></button>
        <button *ngIf="!del_checkbox" id="del_button" (click)="deleteCheckboxToggle(true)"><fa-icon icon="folder-minus"></fa-icon></button>
        <button *ngIf="del_checkbox" id="cancel_button" (click)="deleteCheckboxToggle(false)"><fa-icon icon="window-close"></fa-icon></button>
        <button *ngIf="del_checkbox" id="del_button" (click)="deleteConfirm()"><fa-icon icon="trash-alt"></fa-icon></button>
    </div>

    <div class="members">
        <tree-root #tree [nodes]="member_folder" [options]="options" (select)="onSelect($event)" (deselect)="deSelect($event)"
        (activate)="onActivate($event)" (deactivate)="deActivate($event)"></tree-root>
    </div>
</div>

<modal #componentInsideModal>
    <ng-template class="member-modal-header" #modalHeader>
        <h2>Add member</h2>
    </ng-template>
    <ng-template #modalBody>
        <div class="member-menu-section">
            <div class="member-menu">
                <div class="member-button" [ngStyle]="{'background-color': folder_state ? '#e2f3f9':'white', 'border': folder_state ? '#e2f3f9':'white'}"
                (click)="toggle_state('folder')">Folder</div>
            </div>
            <div class="member-menu">
                <div class="member-button" [ngStyle]="{'background-color': member_state ? '#e2f3f9':'white', 'border': member_state ? '#e2f3f9':'white'}"
                (click)="toggle_state('member')">Member</div>
            </div>
        </div>
        <div class="form-section" *ngIf="folder_state">
            <label>Folder Path : </label>
            <label>{{ addRootPath }}{{ folderName }}</label>
            <input type="text" name="fName" id="fName" class="form-control" placeholder="{{ fWarning }}" [(ngModel)]="folderName">
        </div>
        <div class="form-section" *ngIf="member_state">
            <label>Member Path</label>
            <label>{{ addRootPath }}{{ memberName }}</label>

            <div class="member-select-image">
                image-section
            </div>
            <input type="text" name="fName" id="fName" class="form-control" placeholder="{{ mWarning }}" [(ngModel)]="memberName">
        </div>
    </ng-template>
    <ng-template #modalFooter>
        <!-- <button type="button" class="btn btn-outline-dark" (click)="componentInsideModal.close()">Save</button> -->
        <button *ngIf="folder_state" type="button" class="btn btn-outline-dark" (click)="onSubmit()">Save</button>
        <button *ngIf="member_state" type="button" class="btn btn-outline-dark" (click)="onSubmit()">Save</button>
    </ng-template>
</modal>

<jhi-live></jhi-live>

<jhi-match></jhi-match>
