<div class="picture-section">
    <div class="picture-section-overflow">
        <div class="picture" id="memPicture" *ngFor="let card of peopleList">
            <div class="picture-card" *ngIf="allType">
                <img [src]='card.src' alt="image"/>
                {{ card.name }}
            </div>

            <div class="picture-card" *ngIf="!allType && card.show">
                <img [src]='card.src' alt="image"/>
                {{ card.name }}
            </div>
        </div>
    </div>

</div>
