


<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">Password for [<strong>{{account.login}}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
                <strong>Password changed!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error"  jhiTranslate="password.messages.error">
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <div class="form-group">
                <label class="form-control-label" for="currentPassword" jhiTranslate="global.form.currentpassword.label">Current password</label>
                <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                       placeholder="{{'global.form.currentpassword.placeholder' | translate}}" [(ngModel)]="currentPassword">
            </div>

            <div class="form-group">
                <label class="form-control-label" for="newPassword" jhiTranslate="global.form.newpassword.label">New password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword"
                       placeholder="{{'global.form.newpassword.placeholder' | translate}}" [(ngModel)]="newPassword">
            </div>

            <div class="form-group">
                <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                       placeholder="{{'global.form.confirmpassword.placeholder' | translate}}" [(ngModel)]="confirmPassword">
            </div>

            <button type="submit" (click)="changePassword()" class="btn btn-primary" jhiTranslate="password.form.button">Save</button>
        </div>
    </div>
</div>
