<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="login">User settings for [<b>{{ login }}</b>]</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <div class="form-group">
                <label class="form-control-label" for="firstName" jhiTranslate="settings.form.firstname">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}" [(ngModel)]="firstName">
            </div>

            <div class="form-group">
                <label class="form-control-label" for="lastName" jhiTranslate="settings.form.lastname">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}" [(ngModel)]="lastName">
            </div>

            <div class="form-group">
                <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}" [(ngModel)]="email">
            </div>

            <div class="form-group">
                <label for="langKey" jhiTranslate="settings.form.language">Language</label>
                <select class="form-control" id="langKey" name="langKey" [(ngModel)]="langKey">
                    <option *ngFor="let language of languages" [value]="language">{{language | findLanguageFromKey}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary" jhiTranslate="settings.form.button" (click)="save()">Save</button>
        </div>
    </div>

</div>
