<div class="match-list">

    <div class="match-name">
        <label>All Matched</label>
    </div>

    <div class="match-image-section">
        <div class="match-member-card" *ngFor="let matchMember of matchSourceList">
            <div class="match-origin">
                <jhi-ngui-in-view>
                    <img class="match-member" *ngIf [src]="matchMember.getPath" alt="match origin card"/>
                </jhi-ngui-in-view>
            </div>
            <div class="match-recog">
                <jhi-ngui-in-view>
                    <img class="match-member" *ngIf [src]="matchMember.matchPath" alt="capture card"/>
                </jhi-ngui-in-view>
            </div>
            <p>{{ matchMember.name }}</p>
        </div>
    </div>

</div>
