<div class="picture-section">
    <div class="picture-section-overflow">
        <div class="picture" id="memPicture" *ngFor="let card of detectSourceList">
            <div class="picture-card" *ngIf="allType">
                <jhi-ngui-in-view>
                    <img *ngIf [src]='card.src' alt="image"/>
                </jhi-ngui-in-view>
                {{ card.name }}
            </div>

            <div class="picture-card" *ngIf="!allType && card.show">
                <jhi-ngui-in-view>
                    <img *ngIf [src]='card.src' alt="image"/>
                </jhi-ngui-in-view>
                {{ card.name }}
            </div>
        </div>
    </div>
</div>
