<div class="main-home">
    <div>
        <h1 class="display-4">Welcome, Exntu Face Recognition System!</h1>
        <p class="lead">This is exntu Face Recognition homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
    </div>
</div>
