/* ==========================================================================
Main page styles
========================================================================== */

.home {
  width: 100%;
  height: 50vh;
  padding: 0 5%;
}

.home-logo-section {
  width: 20%;
  height: 100%;
  float: left;
  display: table;
  text-align: center;

  .middle-logo {
    display: table-cell;
    vertical-align: middle;
  }
}

.home-text-section {
  width: 70%;
  height: 100%;
  float: left;
  display: table;

  .middle-text {
    display: table-cell;
    vertical-align: middle;
  }
}

.hipster {
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: auto;
  background: url('../../content/images/exntuLogo.png') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/exntuLogo.png') no-repeat center top;
    background-size: contain;
  }
}
