<div class="member-live-section">
    <div class="name-section">

        <div class="name-text">
            <label>{{ sectionTitle }}</label>
        </div>

        <div class="button-section">
            <div class="camera-button">
                <button *ngIf="cameraState" (click)="toggleSection()">{{ cameraText }}</button>
                <button *ngIf="!cameraState" (click)="selectDelete()">{{ deleteText }}</button>
            </div>
            <div class="door-button">
                <button *ngIf="cameraState" (click)="toggleDoor()">{{ doorText }}</button>
                <button *ngIf="!cameraState" (click)="cardSelectAll()">{{ selectText }}</button>
            </div>
            <div class="change-button">
                <button (click)="toggleState()">{{ sectionState }}</button>
            </div>
        </div>
    </div>

    <div class="camera-section">
        <div class="live-section" *ngIf="liveSection && cameraState">
            <img class="NO-CACHE" [src]="imgURL" alt="live camera no signal"/>
        </div>

        <dts-select-container
            #container="dts-select-container" (itemSelected)="dtsSelected($event)" (itemDeselected)="dtsDeSelected($event)"
            class="image-section" *ngIf="liveSection && imageSection && !emptyImage">

            <div class="one-face-card" *ngIf="isSelectImage" (click)="cardClick(selectImage)">
                <fa-icon *ngIf="selectImage.isActive" icon="check-circle"></fa-icon>
                <jhi-ngui-in-view>
                    <img *ngIf [src]="selectImage.getPath" alt="select-image" [ngClass]="{'active': selectImage.isActive}"/>
                </jhi-ngui-in-view>
            </div>
            <div *ngFor="let face of faceList; index as i">
                <div [dtsSelectItem]="face" *ngIf="i < cardCount" class="face-card">
                    <fa-icon *ngIf="face.isActive" icon="check-circle"></fa-icon>
                    <jhi-ngui-in-view>
                        <img *ngIf [src]='face.getPath' alt="face-image" [ngClass]="{'active': face.isActive}"/>
                    </jhi-ngui-in-view>
                </div>
            </div>
            <div class="more-section" *ngIf="!isSelectImage && faceList.length > cardCount"><button class="card-more-button" (click)="cardMoreCall()">{{ cardMore }}</button></div>
        </dts-select-container>

        <div class="empty-section" *ngIf="liveSection && imageSection && emptyImage">
            <div class="empty-section-desc">
                <p>{{ emptyMessage }}</p>
            </div>
        </div>
    </div>
</div>
