.member-live-section {
  float: left;
  width: 60%;
  border-top: solid 1px #efefef;

  .name-section {
    height: 5vh;
    padding: 10px 30px;

    .name-text {
      width: 50%;
      float: left;

      label {
        font-size: 1em;
        font-weight: 500;
      }
    }

    .button-section {
      width: 50%;
      float: left;

      button {
        float: right;
        margin-right: 15px;
      }
    }
  }

  .camera-section {
    height: 55vh;
    text-align: center;
    padding: 5px 30px 10px;

    .live-section {
      background: #efefef;
      width: 100%;
      height: 100%;
      display: inline-block;

      .one-face-card {
        img {
          width: 100%;
          height: 50vh;
        }
      }

      .face-card {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .image-section {
      overflow: auto;
      border: 1px solid #efefef;
      padding: 8px;
      width: 100%;
      height: 100%;

      img {
        z-index: 0;
        width: 100%;

        &.active {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
      }

      .one-face-card {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .one-face-card:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      .face-card {
        position: relative;
        width: 12%;
        height: 20%;
        margin: 8px;
        border: 1px solid #efefef;
        float: left;
      }

      .face-card:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      fa-icon {
        position: absolute;
        z-index: 1;
        font-size: 1.2em;
        color: white;
        top: 0;
        left: 0;
      }

      .more-section {
        display: inline-block;
        width: 100%;
      }
    }

    .empty-section {
      float: left;
      display: table;
      width: 100%;
      height: 100%;
      border: 1px solid #efefef;

      .empty-section-desc {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  button {
    width: 75px;
    font-size: 0.8em;
    color: #3b4046;
    background: white;
    border-radius: 10%;
    border-color: #3b4046;
  }

  button:hover {
    box-shadow: 0 0 5px 5px #efefef;
  }
}
